.background {
  box-sizing: border-box; 
  
  position: absolute; 
  width: 1368px;
  height: 954px;
  left: 36px;
  top: 35px;
  
  background: #2BAE66;
  border: 5px solid #157741;
  border-radius: 65px;
  z-index: 0;
}

.Gameover {
  position: absolute;
  width: 553px;
  height: 121px;
  left: 455px;
  top: 189px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 100px;
  line-height: 121px;

  color: #FFFFFF;
}

.overText{
  position: absolute;
  width: 900px;
  height: 242px;
  left: 290px;
  top: 355px;
    
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 100px;
  line-height: 121px;
  text-align: center;
    
  color: #FFFFFF;
}

.navigationToHome{
  box-sizing: border-box;

  position: absolute;
  width: 344px;
  height: 129px;
  left: 548px;
  top: 664px;

  background: #FCF6F5;
  border: 3px solid #157741;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 72px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 54px;

  color: #000000;
}

.tips{
  position: absolute;
  width: 602px;
  height: 108px;
  left: 419px;
  top: 860px;

  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 36px;
  text-align: center;

  color: #FFFFFF;
}